*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}
.navigation{
    
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .logo{
        height: 40px;
        width: 40px;
        margin: 5px 10px;
        border-radius: 50%;
        background-color: #ffffff;
     }    
     .home-icon{
        margin: 5px 10px;
        background-color: #363636;
     }
}
.navigation button{
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
}
.navigation button:hover{
    background-color: rgba(0, 0, 0, 0.438);
}
.navigation .input{
    width: 100%;
    border-radius: 20px;
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
        width: 100%;
        outline: none;
        border: none;
        border-right: .5px solid grey;
        background-color: transparent;
    }
}
.navigation .input:hover{
    background-color: rgba(0, 0, 0, 0.253);
}
.nav-downloads{
    display: flex;
    font-size: 1rem;
    border-right: .5px solid grey;
    margin-left: 50px;
    position: relative;
    .child-container{
        display: flex;
    }
}
.nav-downloads .child-container .nav-downloads-child{
    padding: 15px 10px;
    color: #ffffff;
}
.nav-downloads .child-container .nav-downloads-child:hover{
    background-color: #363636;
}
.nav-downloads > .mob-menu{
        opacity: 0;
        transition: opacity .5s;
}

.log-in{
    margin: 5px 10px;
    display: flex;
    font-size: 1rem;
    white-space: nowrap;
    .log-in-child{
        color: #ffffff;
        padding: 5px 10px;
    }
}






@media (max-width: 600px){
    .nav-downloads{
        background-color: black;
    }
    .nav-downloads > .child-container{
        position: absolute;
        top: 34px;
        right: -90px;
        color: white;
        background-color: black;
    }
    .nav-downloads .mob-menu{
        display: block; 
        position: absolute;
        rotate: -90deg;
        font-weight: 900;
        top: -20px;
        right: 1px;
        padding: 10px;
        color: #ffffff;
        opacity: 1;
    }
    .child-container, .nav-downloads-child{
        opacity: 0;
    }
    .display{
        opacity: 1;
    }
}