* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}
html {
  width: 100%;
}
body {
  width: 100%;
  min-width: 450px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  overflow-y: scroll;
}

.navigation {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  .logo {
    height: 40px;
    width: 40px;
    margin: 5px 10px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .home-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
  }
}
.navigation button {
  padding: 10px 15px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
}
.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.438);
}
.navigation .input {
  margin-left: 1.5rem;
  width: 100%;
  border-radius: 20px;
  background-color: #363636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 100%;
    outline: none;
    border: none;
    color: white;
    border-right: 0.5px solid grey;
    background-color: transparent;
  }
}
.navigation .input:hover {
  background-color: rgba(0, 0, 0, 0.253);
}
.nav-downloads {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-right: 0.5px solid grey;
  margin-left: 50px;
  position: relative;

  .child-container {
    display: flex;
  }
}
.nav-downloads .child-container .nav-downloads-child {
  padding: 15px 10px;
  color: #ffffff;
}
.nav-downloads .child-container .nav-downloads-child:hover {
  background-color: #363636;
}
.nav-downloads > .mob-menu {
  opacity: 0;
  transition: opacity 0.5s;
  span {
    color: white;
  }
}
.log-in {
  margin: 5px 10px;
  display: flex;
  font-size: 1rem;
  white-space: nowrap;
  .log-in-child {
    color: #ffffff;
    padding: 5px 10px;
  }
}


.log-in .log-in-child:nth-child(3) {
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  padding: 7px 13px;
}
.log-in .log-in-child:nth-child(3):hover {
  background-color: black;
  color: white;
  
}
/* design song container */
:root {
  --bg-color: rgb(20, 20, 20);
  --text-color: whitesmoke;
}

.body {
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.body .title {
  font-size: 1.5rem;
}
.body .song-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.body .song-list .song-container{
  gap: 1rem;
}
.body .song-list .song-container .song-img {
  position: relative;
  overflow: hidden;
  #img {
    width: 100%;
    border-radius: 10px;
  }
}
.caption{
  p{
    color: gray;
  }
}
.body .song-list .song-container .play-icon {
  position: absolute;
  right: 10px;
  bottom: 8px;
  width: 50px;
  height: 50px;
  background-color: #1ed760;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: opacity .2s ease-in, bottom .2s ease-in;
  opacity: 0;
}
.song-container .song-img:hover .play-icon {
  opacity: 1;
  bottom: 15px;
}







@media (max-width: 700px) {

  .nav-downloads {
    background-color: black;
  }

  .nav-downloads > .child-container {
    position: absolute;
    top: 34px;
    right: -90px;
    color: white;
    background-color: black;
  }

  .nav-downloads .mob-menu {
    display: block;
    position: absolute;
    rotate: -90deg;
    top: -20px;
    right: 1px;
    padding: 10px;
    opacity: 1;

    span {
      font-weight: bolder;
      font-size: 1.5rem;
      color: #ffffff;
    }
  }

  .child-container,
  .nav-downloads-child {
    opacity: 0;
  }

  .display {
    opacity: 1;
  }
  .log-in .log-in-child {
    display: none;
  }
  .body .title {
    color: grey;
    font-size: 1rem;
  }
  .body .song-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
